body {
    margin: 0;
    font-family: poppins;
    background: rgba(50, 50, 124, 1);
    scroll-behavior: smooth;
    overflow: hidden;
}

.shape {
    position: absolute;
    top: -10%;
    left: -20%;
    height: 150vh;
    width: 800px;
    border-radius: 50%;
    background: rgba(50, 50, 124, .5);
}

a {
    font-size: 40px;
    font-family: binjay;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: .4s all ease;
}

h1 {
    font-size: 5em;
    color: #000;
    z-index: 1;
}

p {
    position: absolute;
    top: 35%;
    text-align: center;
    width: 50%;
}

.card {
    position: absolute;
    top: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    background: #fff;
    font-family: poppins;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

form input {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: montserrat;
    cursor: pointer;
    border: 2px solid rgba(50, 50, 124, .5);
    border-radius: 5px;
}

form textarea {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: montserrat;
    cursor: pointer;
    border: 2px solid rgba(50, 50, 124, .5);
    border-radius: 5px;
}

form input[type="submit"] {
    font-weight: bold;
    color: #fff;
    background: rgba(50, 50, 124, 1);
}